.slider-container{
    margin-top: 30px;
}
@keyframes slider{
    0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -100%;}
95% { left: -100%; }
100% { left: 0%; }
}

div#slider {
    display:flex;
    justify-content: flex-start;
    position: relative;
    gap: 20px;
    width:48vw;
    overflow:hidden;
    
}
div#slider figure span{
    display: flex;
    position: relative;
    justify-content: center;
    width:100vw;
    float:left;
}
div#slider figure span img#p5 { width: 90%; height: 50vh;float: left;}
div#slider figure { 
    display: flex;
    flex-direction:row;
    position: relative;
    width: 142vw;
    gap:35px;
    justify-content:space-around;
    margin: 0;
    text-align: left;
    font-size: 0;
    animation: 15s slider infinite; 
}



